@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using MidStore.Data

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Reset authenticator key</PageTitle>


<MudContainer Style="background-color: #333333">
    <br />
    <MudText Typo="Typo.h3" GutterBottom="true">Reset authenticator key</MudText>
    <MudDivider />
    <br />
    <StatusMessage />
    <MudAlert Severity="Severity.Warning" Variant="Variant.Text">
        If you reset your authenticator key your authenticator app will not work until you reconfigure it.
    </MudAlert>
    <MudText Typo="Typo.body2" Class="my-4">
        This process disables 2FA until you verify your authenticator app.
        If you do not complete your authenticator app configuration you may lose access to your account.
    </MudText>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <MudFab Color="Color.Secondary" Label="Reset Key" ButtonType="ButtonType.Submit" />
    </form>
    <br />
</MudContainer>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "Your authenticator app key has been reset, you will need to configure your authenticator app using the new key.",
            HttpContext);
    }
}