@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<MudContainer Style="background-color: #333333">
    <br />
    <h1>Invalid user</h1>
    <MudDivider />
    <br />
    <StatusMessage />
    <br />
    <br />
</MudContainer>