@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<MudContainer Style="background-color: #333333">
    <br />
    <h1>Invalid password reset</h1>
    <MudDivider />
    <br />
    <p>
        The password reset link is invalid.
    </p>
    <br />
</MudContainer>