@page "/Account/ResetPasswordConfirmation"

<PageTitle>Reset password confirmation</PageTitle>

<MudContainer Style="background-color: #333333">
    <br />
    <h1>Reset password confirmation</h1>
    <MudDivider />
    <br />
    <p>
        Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
    </p>
    <br />
</MudContainer>